<html>
<head>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>SIR-管理员界面</title>
</head>
<style type="text/css">
	#left{background: #A6ffff; width:400px;height:300px;float:left;}
	#center{background: #BBFFFF; width:400px;height:300px;float:left;}
	#right{background:#80FFFF; width:400px;height:300px;float:left;}
</style>
<body>
<div style="position:absolute;z-index:-1;width:100%;height:100%;">
		<img src="../image/background.jpg" width="100%" height="100%">
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						SIR------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="left"  style="margin:0 auto;">
		<input type="button" value="进入疾病库" class="btn" onclick="window.open('illnessLibrary/')" 
			style = "width:120px;height:40px;font-size:15px;font-weight:bold;color:blue"/>
	</div>
	<div id="center">
		<input type="button" value="进入资讯库" class="btn" onclick="window.open('updataNews/')"
		    style = "width:120px;height:40px;font-size:15px;font-weight:bold;color:blue"/>
	</div>
	<div id="right">
		<input type="button" value="管理科室" class="btn" onclick="window.open('manageDivision/')"
		    style = "width:120px;height:40px;font-size:15px;font-weight:bold;color:blue"/>
	</div>
	<div style="width:100%; position:absolute; left:0; bottom:0;">
		<h2 align="center">
			Self-illness-registration------自助预约挂号系统
		</h2>
		<p style="text-align:center">
			地址：哈尔滨市南岗区西大直街92号
		</p>
	</div>
</div>
</body>
</html>
<!--
<script language ="javascript">
	function illnessLibrary()
	{
		window.location.href = "illnessLibrary/";
	}
	function updataNews()
	{
		window.location.href = "updataNews/";
	}
 </SCRIPT>
-->