<html>
<head>
<meta charset = "utf-8">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>SIR-预约管理</title>
</head>
<style type="text/css">
	footer {
  border-top: 1px solid #ddd;
  text-align: center;
  position: absolute; 
	bottom: 0; 
	width: 100%; 
	height: 60px;/*脚部的高度*/ 
	clear:both;
}
</style>
<link href = "/static/css/main.css" rel="stylesheet" type="text/css"/ >
<body>
<table> 
	<tr><td> <a href="/patientHome/">{{login.userName}}</a></td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;</td> 
	<td><a href="/exit/">退出</a></td>
	</tr>
</table>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						Self-illness-registration------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>

			<ul class="nav nav-pills">
				<li>
					<a href="/mainInterface/">返回首页</a>
				</li>
				<li>
					<a href="/RegisterService/">挂号服务</a>
				</li>
				<li class="active">
					<a href="/appointManage/">预约管理</a>
				</li>
				<li>
					<a href="/news1/">最新资讯</a>
				</li>
				<li>
					<a href="/about/">关于</a>
				</li>
			</ul>
		</div>
	</div>
	{% if deleteFlag %}
    <table align="center">
        <p><tr align="center"><td>删除成功</tr></td></p>
    </table>
	{% endif %}

    {%if noAppoint%}
	    <table align = "center">
	            <tr align = "center"><td><p><b><Font size = "4" color = "red">您还没有预约医生</Font></p></tr></td>
	    </table>
	{%endif%}

    {% if appointItemList %}
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<p>您共预约 {{ appointItemList | length}} 位医生</p>
			<table class="table table-hover table-bordered">
                <thead>
					<tr>
						<th>
							已预约医生
						</th>
						<th>
							时间
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in appointItemList %}
	        		<tr>
						<td>
							<a href="/detailInformation/{{item.doctor.userName}}/">{{item.doctor.name}}</a>
						</td>
						<td>
							{{item.date}}({{item.weekdayNum}})
						</td>
						<td>
							<form name="input" action="/deleteDoctor/" method="post">
								<input type="hidden" value = {{item.doctor.userName}} name="doctorUserName">
								<input type="hidden" value = {{item.weekdayNum}} name="weekdayNum">
								<input type="submit" value = "取消挂号">
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="span2">
		</div>
	</div>
	<hr/>
    {% endif %}


	<footer>
			<p>
				Self-illness-registration------自助预约挂号系统
			</p>
			<p style="text-align:center">
				地址：哈尔滨市南岗区西大直街92号
			</p>
	</footer>
</div>
</body>
</html>