<html>
<head>
<meta charset = "utf-8">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>SIR-自助挂号系统</title>
</head>
<link href = "/static/css/main.css" rel="stylesheet" type="text/css"/ >
<body>
<table> 
	<tr><td> <a href="/mainInterface/">{{login.userName}}</a></td>
    <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
    <td><a href="/exit/">退出</a></td></tr>
</table>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						Self-illness-registration------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>
			<ul class="nav nav-pills">
				<li class="active"></li>
				<li class="active">
				  <a href="/mainInterface/">返回首页</a>
			    </li>
				<li>
					<a href="/RegisterService/">挂号服务</a>				
				</li>
				<li>
					<a href="/appointManage/">预约管理</a>				
				</li>
				<li>
					<a href="/news1/">最新资讯</a>				
				</li>
				<li>
					<a href="/about/">关于</a>				
				</li>

			</ul>
			<div class="row-fluid">
				<div class="span7">
					<ul class="nav nav-list well">
						<li class="nav-header">
							最新资讯
						</li>
						<li>
							<a href="/news1/">糖尿病如何治疗？</a>
						</li>
						<li>
							<a href="/news2/">张秀珍医生抢先预约</a>
						</li>
						<li>
							<a href="/news3/">2015医疗招聘考试政策</a>
						</li>
					</ul>
				</div>
				<div class="span5">
					<form class="form-horizontal" action = "/register/" method = "post">
						{%if string%}
							<Script Language="JavaScript">
								alert("{{string}}！！");
							</Script>
						{%endif%}

						{% if errors %}
    						{% for error in errors %}
    							<Script Language="JavaScript">
								alert("{{error}}！！");
								</Script>
    						{% endfor %}
						{% endif %}

						<div class="control-group">
							 <label class="control-label" for="inputEmail">账户</label>
							<div class="controls">
								<input id="inputEmail" name = "userName" value = {{user.userName}}>
							</div>
						</div>
						<div class="control-group">
							 <label class="control-label" for="inputPassword">密码</label>
							<div class="controls">
								<input id="inputPassword" type="password" name = "Password" value = {{user.Password}}>
							</div>
						</div>
						<div class="control-group">
							 <label class="control-label">用户类型</label>
							<div class="controls">
								<select class = "txt-s" size = "1" name = "serviceType">
                    				<option value = "2">普通用户</option>
                    				<option value = "1">医生</option>
                    				<option value = "0">管理员</option>
                				</select>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								 <button type="submit" class="btn">登录</button> <a href="#">忘记密码？</a>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								 <a href="/login/">立即注册</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span7">
			{%if errors1 %}
				<Script Language="JavaScript">
					alert("请输入医生姓名！！");
				</Script>
            {% endif %}
			<form name="input" action="/demandByDoctor/" method="post">
				按医生查询: <input type="text" name="doctorName">
				<input type="submit" value="点击查询" class="button">
				<a href="/demandAllDoctor/">所有医生</a>
			</form>

			{%if errors2 %}
				<Script Language="JavaScript">
					alert("请选择科室！！");
				</Script>
            {% endif %}
			<form name="input" action="/demandByDivision/" method="post">
				按科室查询: 
					<select class = "txt-s" size = "1" name = "divisionType">
                        <option value = "00000">---无---</option>
                        {%for division in divisionList%}
                        	<option value = {{division.divisionID}}>{{division.name}}</option>
                        {%endfor%}
                    </select>
				<input type="submit" value="点击查询" class="button">
			</form>

			{%if noEnter %}
				<Script Language="JavaScript">
					alert("请输入疾病姓名！！");
				</Script>
            {%elif noIllness%}
            	<Script Language="JavaScript">
					alert("你搜索的疾病不存在！！");
				</Script>
            {% endif %}
			<form name="input" action="/demandByIllness/" method="post">
				按疾病查询: <input type="text" name="illnessName">
				<input type="submit" value="点击查询" class="button">
			</form>
			
		</div>
		<div class="span5">
			<ul class="nav nav-list well">
				<li class="nav-header">
					常见问题
				</li>
				<li>
					<a href="/problem1/">如何进行预约？</a>
				</li>
				<li>
					<a href="/problem2/">预约成功了，下一步该怎么做？</a>
				</li>
			</ul>
		</div>
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span12">
			<p style="text-align:center">
				Self-illness-registration------自助预约挂号系统
			<p>
			<p style="text-align:center">
				地址：哈尔滨市南岗区西大直街92号
			</p>
		</div>
	</div>
</div>
</body>
</html>