<html>
<head>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>管理科室</title>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						Self-illness-registration------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>
		</div>
	</div>
	<p>管理科室</p>
	<p>添加科室</p>
	{% if errors %}
		{%for error in errors%}
			<li>{{error}}</li>
		{%endfor%}
	{%endif%}
	<BR>
	<form action="/addDivision/" method="post">
		科室编号<input type="text" name = "divisionID"><BR>
		科室名称<input type="text" name = "name"><BR>
		<input type="submit" value="点击添加">
		<a href="/showDivision/">所有科室</a>
	</form>

	{%if divisionList %}
	<h3>全部科室：</h3>
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>
							科室编号
						</th>
						<th>
							科室名称
						</th>
						<th>
							点击操作
						</th>
					</tr>
				</thead>
				<tbody>
					{% for division in divisionList %}
	        		<tr>
						<td>
							{{division.divisionID}}
						</td>
						<td>
							{{division.name}}
						</td>
						<td>
							<input type="button" name="submit" value="删除" class="btn" 
								onClick="if (confirm('确认删除？')) location.href= '/deleteDivision/{{division.divisionID}}/';
								return false;" >
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="span2">
		</div>
	</div>
	{%endif%}
	
	<div class="row-fluid">
		<div class="span12">
			<h2 align="center">
				Self-illness-registration------自助预约挂号系统
			</h2>
			<p style="text-align:center">
				地址：哈尔滨市南岗区西大直街92号
			</p>
		</div>
	</div>
</div>
</body>
</html>
