<html>
<head>
<meta charset = "utf-8">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>SIR-医生列表</title>
</head>

<link href = "/static/css/main.css" rel="stylesheet" type="text/css"/ >
<body>
<table> <tr><td><a href="/patientHome/">{{login.userName}}</a></td>
	<td> &nbsp &nbsp &nbsp &nbsp &nbsp</td>
	<td><a href="/exit">退出</a></td>
</tr></table>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						Self-illness-registration------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>


			<ul class="nav nav-pills">
				<li>
					<a href="/mainInterface/">返回首页</a>
				</li>
				<li>
					<a href="/RegisterService/">挂号服务</a>
				</li>
				<li>
					<a href="/appointManage/">预约管理</a>
				</li>
				<li  class="active">
					<a href="/news1/">最新资讯</a>
				</li>
				<li>
					<a href="/about/">关于</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
				<div class="span3">
					
				</div>
				<div class="span6" style="border:2px solid white;">
					<h2 class="text-center text-info" style="color:FFFFFF">2015医疗招聘考试政策</h2>
					<h6 class="text-center text-info">发布时间：2015-12-23  作者：一休</h6>
					<h5 class="text-left text-info"> 	在医疗价格领域，许昆林表示，目前医疗服务价格改革现在已经有一个比较成型的稿子了，正在征求相关部门意见。总的原则是要坚持调放结合，对市 场竞争充分的、个性化需求比较强的医疗服务，要及时取消政府定价，通过竞争让价格趋向合理。其次是要坚持综合改革，要结合包括药品价格本身，还有药品生产 流通、医保支付、收入分配、分级诊疗、医疗行为监管等各方面同步推进，相关配套政策一定要完善，要增强改革的系统性、整体性和协同性，形成政策合力。</h5>
					<h5 class="text-left text-info">	 多位专家在接受记者采访时表示，未来的价格机制改革工作一定是双管齐下的，除了要坚持对价格进行“放开”之外，价格“监管”的力度也将逐渐增强。</h5>
					<h5 class="text-left text-info">	李朴民介绍，目前为止，价监工作有三大情况，一是先后处理并公开曝光了滥用知识产权排除限制竞争、汽车领域达成垄断协议，以及行政机关滥用行政 权力排除限制竞争行为等一批有重大影响的垄断案件;二是组织开展了药品价格、涉企收费、环保电价、进出口环节收费以及景区门票价格等专项检查，加强节假日 市场价格监管;三是全面开通运行国家、省、市、县四级联网的12358价格举报系统，有效地畅通了群众价格投诉举报渠道等。 </h5>
					<h5 class="text-left text-info">	值得一提的是，记者了解到，作为价改中价格监管领域一项备受关注的内容，目前国家发改委正在制定六部反垄断指南，内容涉及知识产权滥用、汽车业 反垄断规制、宽大制度、豁免程序、中止调查程序以及罚款额的计算等。目前，经过4个多月的起草工作，滥用知识产权反垄断规制指南的草案初稿已经完成，已进 入大规模征询意见阶段，并将争取在明年6月之前正式出台，汽车行业反垄断指南的草案预计也将于明年六月前提交至国务院反垄断委员会。 </h5>
   					

				</div>
				<div class="span3">
					
				</div>
			</div>
			<hr/>
	<div class="row-fluid">
		<div class="span12">
			<p style="text-align:center">
				Self-illness-registration------自助预约挂号系统
			<p>
			<p style="text-align:center">
				地址：哈尔滨市南岗区西大直街92号
			</p>
		</div>
	</div>
</div>
</body>
</html>