<html>
<head>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>
<title>展示新闻</title>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="col-xs-6 span9">
					<h3>
						Self-illness-registration------自助挂号系统
					</h3>
				</div>
				<div class="col-xs-6 span3">
					<h5 class="text-right text-info">
						投诉电话：010-86347890
					</h5>
				</div>
			</div>
		</div>
	</div>
	
	<h2>{{news.Title}}</h2>
	<p>作者：{{news.author}}</p>
	<p>日期：{{news.Data}}</p><br>
	<p>图片：</p>
	<img src = "..media/{{news.Image.url }}" width = "175px" 	height = "175px"/>
	<!-- {% if news.Image %}
		<p>图片：<img src = '{{news.Image.url}}' ></img></p>
	{% endif %}<br> -->
	<p>正文：</p><textarea rows = "10" clos = "20">{{news.Text}}</textarea>

	
	<div class="row-fluid">
		<div class="span12">
			<h2 align="center">
				Self-illness-registration------自助预约挂号系统
			</h2>
			<p style="text-align:center">
				地址：哈尔滨市南岗区西大直街92号
			</p>
		</div>
	</div>
</div>
</body>
</html>
